<html>

<head>
  <meta charset="UTF-8" />

  <title>NAS</title>

  {{#if eq logged_in true}}
  <meta http-equiv="refresh" content="5" url="{{ redirect_url }}" />
  {{/if}}

  <link rel="icon" href="/public/icons/nas.svg">
  <link rel="stylesheet" href="/public/styles/common.css" />
  <link rel="stylesheet" href="/public/styles/icons.css" />
  <link rel="stylesheet" href="/public/styles/dark.css" />
  <link rel="stylesheet" href="/public/styles/auth.css" />
</head>

<body>
  <header>
    <span id="title">/auth</span>
  </header>

  <main>
    {{logged_in}}
    {{redirect_url}}
    <section id="section__title">
      <span>NAS</span>
    </section>

    <section id="form">
      <form action="/auth" method="POST">
        <input class="input" type="text" name="username" autofocus />
        <input class="input" type="password" name="password" />

        <button id="submit-button" class="button" value="">
          <div class="icon" id="submit-button__icon" data-icon="chevron-right"></div>
        </button>
      </form>

      <span id="error">{{ message }}</span>
    </section>
  </main>
</body>

</html>