<html>
  <head>
    <meta charset="UTF-8" />
  </head>

  <body>
    <script src="//cdn.jsdelivr.net/npm/hls.js@latest"></script>
    <video id="video" width="1280" height="720" controls></video>
    <script>
      if (Hls.isSupported()) {
        const video = document.getElementById("video");
        const hls = new Hls({ debug: true });

        hls.loadSource("{{ src }}");
        hls.attachMedia(video);

        hls.on(Hls.Events.MEDIA_ATTACHED, function () {
          video.play();
        });

        hls.on(Hls.Events.ERROR, function (event, data) {
          console.log("Error in stream", event, data);
        });
      } else if (video.canPlayType("application/vnd.apple.mpegurl")) {
        video.src = "{{ src }}";
        video.addEventListener("canplay", function () {
          video.play();
        });
      }
    </script>
  </body>
</html>
