<html>

<head>
  <title>NAS</title>

  <link rel="icon" href="/public/icons/nas.svg">
  <link rel="stylesheet" href="/public/styles/common.css" />
  <link rel="stylesheet" href="/public/styles/icons.css" />
  <link rel="stylesheet" href="/public/styles/dark.css" />
  <link rel="stylesheet" href="/public/styles/stream.css" />
</head>

<body>
  <video id="video" controls autoplay></video>

  <section id="video-hover">
    <button onclick="history.back()" id="back-btn">🢐 Back</button>
    <div id="video-title">{{ file_name }}</div>
  </section>

  <script>
    window.streamSrc = "{{ src }}";
  </script>
  <script src="//cdn.jsdelivr.net/npm/hls.js@latest"></script>
  <script src="/public/scripts/stream.js"></script>
</body>

</html>