body {
  padding: 0;
  position: relative;
}

video {
  width: inherit;
  height: inherit;
  object-fit: contain;
}

body:hover #video-hover {
  opacity: 1;
  transition: all 0s; /* Show immediately */
}

#video-hover {
  transition: all 1s; /* Hide slowly */
  opacity: 0;
  display: flex;
  align-items: flex-start;
  background: linear-gradient(180deg, black, transparent);
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: 200px;
  padding: 40px;
}

#back-btn {
  flex: 0 0 160px;
  text-align: left;
  border: none;
  background: transparent;
  font-size: var(--font-size-title);
  color: var(--secondary-text-color) !important;
  text-decoration: none;
  cursor: pointer;
}

#video-title {
  flex: 1;
  font-size: var(--font-size-title);
}
