.icon[data-icon="none"] {
  background-color: var(--background-color);
}

.icon[data-icon="alert"] {
  -webkit-mask: url(/public/icons/alert.svg) no-repeat center;
  mask: url(/public/icons/alert.svg) no-repeat center;
}

.icon[data-icon="audio"] {
  -webkit-mask: url(/public/icons/audio.svg) no-repeat center;
  mask: url(/public/icons/audio.svg) no-repeat center;
}

.icon[data-icon="chevron-right"] {
  -webkit-mask: url(/public/icons/chevron-right.svg) no-repeat center;
  mask: url(/public/icons/chevron-right.svg) no-repeat center;
}

.icon[data-icon="dir-add"] {
  -webkit-mask: url(/public/icons/dir-add.svg) no-repeat center;
  mask: url(/public/icons/dir-add.svg) no-repeat center;
}

.icon[data-icon="directory"] {
  -webkit-mask: url(/public/icons/directory.svg) no-repeat center;
  mask: url(/public/icons/directory.svg) no-repeat center;
}

.icon[data-icon="document"] {
  -webkit-mask: url(/public/icons/document.svg) no-repeat center;
  mask: url(/public/icons/document.svg) no-repeat center;
}

.icon[data-icon="edit"] {
  -webkit-mask: url(/public/icons/edit.svg) no-repeat center;
  mask: url(/public/icons/edit.svg) no-repeat center;
}

.icon[data-icon="file-add"] {
  -webkit-mask: url(/public/icons/file-add.svg) no-repeat center;
  mask: url(/public/icons/file-add.svg) no-repeat center;
}

.icon[data-icon="image"] {
  -webkit-mask: url(/public/icons/image.svg) no-repeat center;
  mask: url(/public/icons/image.svg) no-repeat center;
}

.icon[data-icon="nas"] {
  -webkit-mask: url(/public/icons/nas.svg) no-repeat center;
  mask: url(/public/icons/nas.svg) no-repeat center;
}

.icon[data-icon="streamplaylist"] {
  -webkit-mask: url(/public/icons/streamplaylist.svg) no-repeat center;
  mask: url(/public/icons/streamplaylist.svg) no-repeat center;
}

.icon[data-icon="trash"] {
  -webkit-mask: url(/public/icons/trash.svg) no-repeat center;
  mask: url(/public/icons/trash.svg) no-repeat center;
}

.icon[data-icon="upload"] {
  -webkit-mask: url(/public/icons/upload.svg) no-repeat center;
  mask: url(/public/icons/upload.svg) no-repeat center;
}

.icon[data-icon="video"] {
  -webkit-mask: url(/public/icons/video.svg) no-repeat center;
  mask: url(/public/icons/video.svg) no-repeat center;
}

.icon[data-icon="unknown"] {
  background-color: var(--background-color) !important;
}
